@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.serie-container {
  width: 60%;
  margin: 0 auto;
}

.header-top {
  background-color: #0282f9;
}
.header-top .header-top-wrapper {
  display: flex;
  justify-content: end;
  color: #fff;
}
.header-top .header-top-wrapper div {
  padding-left: 2rem;
  font-size: 13px;
}

.header-bottom {
  padding: 20px 0;
}
.header-bottom .header-bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bottom .header-bottom-wrapper .logo {
  width: 70px;
}
.header-bottom .header-bottom-wrapper .menu {
  display: flex;
}
.header-bottom .header-bottom-wrapper .menu li {
  padding-left: 25px;
  font-size: 13px;
}
.header-bottom .header-bottom-wrapper .menu li a {
  color: black;
  font-weight: 600;
}
.header-bottom .header-bottom-wrapper .menu li a.current {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}
.header-bottom .header-bottom-wrapper input {
  border: none;
  border-bottom: 3px solid #0282f9;
  text-align: end;
  width: 10%;
}

.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  padding: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-series {
  background-color: #1c1c1c;
  padding: 20px 0;
}
.section-series .series-card-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.section-series .series-card-wrapper .card {
  width: calc(16.6666666667% - 20px);
  margin: 10px;
}
.section-series .series-card-wrapper .card img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.section-series .series-card-wrapper .card h3 {
  font-size: 13px;
  padding-top: 10px;
  color: #fff;
}
.section-series .btn {
  text-align: center;
  padding-top: 20px;
}
.section-series .btn button {
  padding: 5px 40px;
  background-color: #0282f9;
  color: #fff;
  border: none;
}

.section-dc-link {
  background-color: #0282f9;
  padding: 50px 0;
}
.section-dc-link .dc-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-dc-link .dc-menu li {
  display: flex;
  align-items: center;
}
.section-dc-link .dc-menu li img {
  width: 40px;
}
.section-dc-link .dc-menu li a {
  padding-left: 10px;
  padding-right: 40px;
  color: #fff;
  font-size: 13px;
}

.poster-area {
  background-color: #0282f9;
  padding: 25px 0;
  position: relative;
}
.poster-area .poster {
  width: 150px;
  position: absolute;
  bottom: 50%;
}

.serie-content {
  padding: 50px 0;
}
.serie-content .serie-content-wrapper {
  display: flex;
}
.serie-content .serie-content-wrapper .avaible-bar {
  width: 95%;
  background-color: #55ba59;
}
.serie-content .serie-content-wrapper .avaible-bar .bar-container {
  display: flex;
  justify-content: space-between;
}
.serie-content .serie-content-wrapper .avaible-bar .bar-container div {
  padding: 10px 0;
}
.serie-content .serie-content-wrapper .avaible-bar .bar-container :first-child {
  flex-grow: 1;
  padding-left: 20px;
}
.serie-content .serie-content-wrapper .avaible-bar .bar-container :nth-child(2) {
  border-right: 1px solid black;
  padding-right: 20px;
}
.serie-content .serie-content-wrapper .avaible-bar .bar-container :last-child {
  padding: 10px 20px;
}
.serie-content .serie-content-wrapper .advertisement {
  width: 500px;
  text-transform: uppercase;
  text-align: right;
}

.more-info {
  background-color: #f6f6f6;
  padding-top: 20px;
  border-top: 3px solid #e7e7e7;
}
.more-info .info-wrapper {
  display: flex;
  justify-content: space-between;
}
.more-info .info-wrapper .left-col {
  width: 50%;
}
.more-info .info-wrapper .info-container {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 0;
}
.more-info .info-wrapper .info-container div {
  display: inline-block;
}

.color-blue {
  color: #0282f9;
}