@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.header-top {
  background-color: #0282f9;
}
.header-top .header-top-wrapper {
  display: flex;
  justify-content: end;
  color: #fff;
}
.header-top .header-top-wrapper div {
  padding-left: 2rem;
  font-size: 13px;
}

.header-bottom {
  padding: 20px 0;
}
.header-bottom .header-bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bottom .header-bottom-wrapper .logo {
  width: 70px;
}
.header-bottom .header-bottom-wrapper .menu {
  display: flex;
}
.header-bottom .header-bottom-wrapper .menu li {
  padding-left: 25px;
  font-size: 13px;
}
.header-bottom .header-bottom-wrapper .menu li a {
  color: black;
  font-weight: 600;
}
.header-bottom .header-bottom-wrapper .menu li a.current {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}
.header-bottom .header-bottom-wrapper input {
  border: none;
  border-bottom: 3px solid #0282f9;
  text-align: end;
  width: 10%;
}

.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  padding: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-series {
  background-color: #1c1c1c;
  padding: 20px 0;
}
.section-series .series-card-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.section-series .series-card-wrapper .card {
  width: calc(16.6666666667% - 20px);
  margin: 10px;
}
.section-series .series-card-wrapper .card img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.section-series .series-card-wrapper .card h3 {
  font-size: 13px;
  padding-top: 10px;
  color: #fff;
}
.section-series .btn {
  text-align: center;
  padding-top: 20px;
}
.section-series .btn button {
  padding: 5px 40px;
  background-color: #0282f9;
  color: #fff;
  border: none;
}

.section-dc-link {
  background-color: #0282f9;
  padding: 50px 0;
}
.section-dc-link .dc-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-dc-link .dc-menu li {
  display: flex;
  align-items: center;
}
.section-dc-link .dc-menu li img {
  width: 40px;
}
.section-dc-link .dc-menu li a {
  padding-left: 10px;
  padding-right: 40px;
  color: #fff;
  font-size: 13px;
}