.section-series{
    background-color: #1c1c1c;
    padding: 20px 0;

    .series-card-wrapper{
        display: flex;
        flex-wrap: wrap;

        .card{
            width: calc((100% / 6) - 20px );
            margin: 10px;

            img{
                aspect-ratio: 1/1;
                object-fit: cover;
                object-position: top;
            }

            h3{
                font-size: 13px;
                padding-top: 10px;
                color: $secondary_color;
            }
        }
    }

    .btn{
        text-align: center;
        padding-top: 20px;
        button{
            padding: 5px 40px;
            background-color: $primary_color;
            color: $secondary_color;
            border: none;
        }
    }

}